@media screen and (max-width:768px){

    .credit_big{
        font-size: 200%;
    }
    .long_text {
        font-size: 100%;

    }
    .text_center1{
        text-align: center;
    }
  
    .transparent_text {
        font-size: 100%;
    }
    .images_bank{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .images_bank>img{
        height: 40px;
        margin: 10px;
    }
   
}